<%- include ('./layout/head'); -%>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <%- include ('./layout/header'); -%>
    <!-- end header section -->

  </div>
  <!-- end hero area -->

  <!-- shop section -->

  <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Latest Products
        </h2>
      </div>
      <div class="row">
       
          <% for(var i = 0; i < shop.length; i ++) {%> 
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box">
              <a href="/product/<%= shop[i].id %>">
                <div class="img-box">
                  <img src="<%= shop[i].image%>" alt="">
                </div>
                <div class="detail-box">
                  <h6>
                    <%= shop[i].name%>
                  </h6>
                  <h6>
                    Price
                    <span>
                      $<%= shop[i].price%>
                    </span>
                  </h6>
                </div>
                <div class="new">
                  <span>
                    New
                  </span>
                </div>
              </a>
            </div>
          </div>
          <% } %>
          
        
          
       
       
       
      
      
       
      </div>
      <div class="btn-box">
        <a href="">
          View All Products
        </a>
      </div>
    </div>
  </section>

  <!-- end shop section -->

  <!-- info section -->

  <%- include ('./layout/footer'); -%>

</body>

</html>